.footer__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1280px) {
    .footer__title {
        font-size: calc((100vw - 320px)/(1280 - 320)*(18 - 14) + 14px);
        line-height: calc((100vw - 320px)/(1280 - 320)*(22 - 17) + 17px);
    }
}

@media screen and (max-width: 320px) {
    .footer__title {
        font-size: 14px;
        line-height: 17px;
    }
}